/* line 1, ../sass/diagram.scss */
div.ebu-bridge-diagram {
  font-family: arial;
}
/* line 4, ../sass/diagram.scss */
div.ebu-bridge-diagram div.diagram {
  display: grid;
  font-size: 120%;
  margin: 5px 0px 20px 20px;
  grid-template-columns: max-content max-content max-content;
  grid-template-areas: "info north x1" "west compass east" "x2 south x3";
}
/* line 12, ../sass/diagram.scss */
div.ebu-bridge-diagram div.diagram div {
  padding: 2px 5px;
}
/* line 16, ../sass/diagram.scss */
div.ebu-bridge-diagram div.diagram div.north {
  grid-area: north;
}
/* line 20, ../sass/diagram.scss */
div.ebu-bridge-diagram div.diagram div.south {
  grid-area: south;
}
/* line 24, ../sass/diagram.scss */
div.ebu-bridge-diagram div.diagram div.west {
  grid-area: west;
  padding-right: 15px;
}
/* line 29, ../sass/diagram.scss */
div.ebu-bridge-diagram div.diagram div.east {
  grid-area: east;
  padding-left: 15px;
}
/* line 34, ../sass/diagram.scss */
div.ebu-bridge-diagram div.diagram div.compass {
  grid-area: compass;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 42, ../sass/diagram.scss */
div.ebu-bridge-diagram div.diagram div.info {
  grid-area: info;
  text-align: center;
  display: flex;
  font-size: 90%;
  align-items: center;
  justify-content: center;
}
/* line 51, ../sass/diagram.scss */
div.ebu-bridge-diagram div.diagram span.suit {
  width: 18px;
}
/* line 57, ../sass/diagram.scss */
div.ebu-bridge-diagram span.suit {
  font-size: 120%;
  display: inline-block;
}
/* line 62, ../sass/diagram.scss */
div.ebu-bridge-diagram span.red {
  color: #f00;
}
/* line 66, ../sass/diagram.scss */
div.ebu-bridge-diagram div.bidding {
  display: grid;
  max-width: 500px;
  font-size: 120%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 5px 0px 20px 20px;
}
/* line 75, ../sass/diagram.scss */
div.ebu-bridge-diagram div.bidding div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 81, ../sass/diagram.scss */
div.ebu-bridge-diagram div.bidding div.header {
  border-bottom: 1px solid black;
}
